.blue { background: blue }
.grey { background: grey }
.chats-row { max-height: 210px; min-height: 210px; overflow: scroll; }

.list-group-item {
    border: none;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;

}
.list-group-item:first-child {
    border-top: none;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

.list-group-item:hover {
    background: #f5f5f5;
    cursor: pointer;
}


.current-chat {
    height: 100vh;
    border: 1px solid #ddd;
}

.chat-toolbar-row {
    background-color: #f5f5f5;
}

.chat-toolbar {
    margin-top: 10px;
    margin-bottom: 10px;
}

.current-chat-area {
    padding-top: 10px;
    overflow: auto;
    height: 85vh;
}

.current-chat-footer {
    position: absolute;
    bottom: 0;

}

form div {
    margin-top: 10px;
}

